* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
body{
    height: 200vh;
}
/* CABEÇALHO DO SITE */

   /* INFORMAÇÕES DE AJUDA */
      .topo-menu{
        width: 100%;
        background:  #004aad;
      }
      .topo-menu .info-menu{
        display: flex;
        padding: 14px;
        margin-left: 35px;
        font-size: 12px;
        color: #fff;
      }
      .topo-menu .info-menu p{
        font-size: 11px;
        margin-top: 1px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .topo-menu .info-menu a{
        color: #fff;
        white-space: nowrap;
      }
      .topo-menu .info-menu img{
        margin-left: 22px;
      }
      .topo-menu .info-menu span{
        margin-left: 8px;
      }
      @media(max-width: 1000px){
        .topo-menu .info-menu{
            display: flex;
            padding: 14px;
            margin-left: 6px;
            font-size: 11px;
            color: #fff;
        }
        .topo-menu .info-menu p{
          font-size: 8px;
          margin-top: 2.5px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      @media(max-width: 700px){
        .topo-menu .info-menu{
            display: flex;
            padding: 14px;
            margin-left: 6px;
            font-size: 8px;
            color: #fff;
        }
        .topo-menu .info-menu p{
          font-size: 5px;
          margin-top: 2.5px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
   /* INFORMAÇÕES DE AJUDA */
    
   /* MENU DROPDOWM */
      .head-menu{
        position: fixed;
        left: 0; right: 0;
        background: #fff;
        box-shadow: 0 5px 8px rgba(0, 0, 0, .1);
        padding: 6px 6%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        transition: top 0.2s;
      }
      .head-menu .logo{
        width: 175px;
      }
      .head-menu .navbar ul{
        list-style: none;
      }
      .head-menu .navbar ul li{
        position: relative;
        float: left;
      }
      .head-menu .navbar ul li a{
        font-size: 16px;
        text-transform: uppercase;
        font-family: calibri;
        padding: 20px 18px;
        color: #000000;
        display: block;
        transition: 0.4s;
      }
      .head-menu .navbar ul li a:hover{
        color: rgba(0, 0, 0, .5);
      }
      .head-menu .navbar ul li ul{
        position: absolute;
        left: 0;
        width: 225px;
        background: #fff;
        color: #000000;
        display: none;
      }
      .head-menu .navbar img{
        margin-left: 4px;
      }
      .head-menu .navbar ul li ul li{
        width: 100%;
        transition: 0.4s;
      }
      .head-menu .navbar ul li:hover > ul,
      .head-menu .navbar ul li:focus-within > ul {
        display: initial;
        animation: slide-down 0.5s ease-in-out;
      }
      .head-menu .navbar ul li ul li a:hover{
        color: #0368ec;
      }

      @keyframes slide-down {
        0% {
          transform: translateY(-10px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      #menu-bar{
        display: none;
      }
      .head-menu label{
        cursor: pointer;
        display: none;
      }
      

      @media(max-width: 1000px){
        .head-menu{
          padding: 18px;
        }
        .head-menu label{
          display: initial;
        }
        .head-menu .navbar{
          position: absolute;
          top:100%; left:0; right: 0;
          background: #fff;
          border-top: 1px solid rgba(0, 0, 0, .1);
          display: none;
        }
        .head-menu .navbar ul li{
          width: 100%;
        }
        .head-menu .navbar ul li ul{
          position: relative;
          width: 100%;
        }
        .head-menu .navbar ul li ul li{
          background: #eee;
        }
        .head-menu .navbar ul li ul li ul{
          width: 100%;
          left: 0;
        }
        #menu-bar:checked ~ .navbar{
          display: initial;
          animation: slide-down 0.5s ease-in-out;
        }
        @keyframes slide-down {
          0% {
            transform: translateY(-10px);
            opacity: 0;
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
      
   /* OFF MENU DROPDOWM */

/* OFF CABEÇALHO DO SITE */