* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
body{
    height: 200vh;
}
/* CABEÇALHO DO SITE */

   /* INFORMAÇÕES DE AJUDA */
      .topo-menu{
        width: 100%;
        background:  #004aad;
      }
      .topo-menu .info-menu{
        display: flex;
        padding: 16px;
        margin-left: 35px;
        font-size: 13px;
        color: #fff;
      }
      .topo-menu .info-menu p{
        font-weight: bold;
      }
      .topo-menu .info-menu a{
        color: #fff;
        white-space: nowrap;
      }
      .topo-menu .info-menu img{
        margin-left: 22px;
      }
      .topo-menu .info-menu span{
        margin-left: 8px;
      }
      .topo-menu .info-menu
      p
      a:hover, 
      span:hover{
        font-weight: bold;
      }
      @media(max-width: 830px){
        .topo-menu .info-menu{
            display: flex;
            padding: 12px;
            margin-left: 6px;
            font-size: 11px;
            color: #fff;
        }
      }
   /* INFORMAÇÕES DE AJUDA */
    
   /* MENU DROPDOWM */
      .head-menu{
        position: fixed;
        left: 0; right: 0;
        background: #000321;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        padding: 10px 6%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        transition: top 0.2s;
      }
      .head-menu .logo{
        width: 175px;
      }
      .head-menu .navbar ul{
        list-style: none;
      }
      .head-menu .navbar ul li{
        position: relative;
        float: left;
      }
      .head-menu .navbar ul li a{
        font-size: 16px;
        text-transform: uppercase;
        font-family: calibri;
        padding: 20px 18px;
        color: #fff;
        display: block;
      }
      .head-menu .navbar ul li a:hover{
        background: #fff;
        color: #000;
      }
      .head-menu .navbar ul li ul{
        position: absolute;
        left: 0;
        width: 200px;
        background: #000321;
        color: #fff;
        display: none;
      }
      .head-menu .navbar ul li ul li{
        width: 100%;
        border: 1px solid rgba(0, 0, 0, .1);
      }
      .head-menu .navbar ul li:hover > ul {
        display: initial;
      }

   /* OFF MENU DROPDOWM */

/* OFF CABEÇALHO DO SITE */